// if logged into Wordpress admin
body.admin-bar {
  #header-container {
    // Sticky Nav
    &.is-stuck {
      @media screen and (min-width: $mobile1) {
        top: rem-calc(32);
      }
    }
  }

  // Off-Canvas for mobile
  .off-canvas-main-menu {
    top: calc($main-nav-height-mobile + rem-calc(46));
  }
}






#header-container {
  position: absolute !important;
  z-index: 100;
  width: 100%;
  transition: .2s background ease;
  top: 0;
  left: 0;
  //background: white;
  //background: linear-gradient(to bottom, rgba($white, .9) 140px, rgba($white, .5));

  @media screen and (max-width: $mobile1) {
    position: fixed !important;
  }

  // Sticky Nav
  &.is-stuck {
    @media screen and (max-width: $mobile1) {
      background: linear-gradient(to right, rgba(#061220, 1), rgba(#08203d, 1), rgba(#061220, 1));
    }

    @media screen and (min-width: $mobile1) {
      position: fixed !important;
      box-shadow:3px 3px 3px rgba(black, .1);
      background: rgba($white, .97) !important;

      .header-top {
        display: none;
      }

      #header {
        margin-top: 0;
        transition: .3s ease;

        .hfsw {
          height: rem-calc(70);
          transition: .3s ease;
  
          .menu--main:not(.drilldown) {
            top: rem-calc(13);

            @media screen and (max-width: $desktop-1024) {
              top: rem-calc(20);
            }

            & > li {
              & > a {
                //padding: rem-calc(25.5 26);
              }

              &.navindicator {
                display: none;
              }
            }
          }

          .logo {
            width: rem-calc(260);
            transition: .3s ease;
            top: rem-calc(10);

            img {
              &.white {
                opacity: 0;
              }

              &.black {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}


.header-top {
  opacity: 1;
  height: $util-nav-height;
  position: absolute;
  width: 100%;
  top: rem-calc(4);
  display: none;

  @media screen and (max-width: $mobile1) {
    display: none;
  }

  .sw {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .header-top__right {
      display: flex;
      margin-top: rem-calc(6);
  
      li {
        display: flex;
        align-items: center;
        position: relative;
        line-height: 1;
        @include font(12, 12);

        a {
          color: rgba($white, .7);
          padding: rem-calc(5 12);
          @include font(13, 13, 700, 0);
          transition: .15s ease;
          position: relative;
          display: block;
          text-transform: uppercase;

          span {
            @include font(13, 13, 700, 0);
            color: $black;
          }

          @include hover {
            color: $red;
          }

          &.current-page {
            color: $red;
          }
        }

        &.bull {
          &::after {
            content: '•';
            display: inline-block;
            color: rgba($white, .2);
            position: absolute;
            top: rem-calc(6);
            right: rem-calc(-3);
          }
        }

        &.socials {
          display: flex;
          margin-top: rem-calc(0);
          margin-left: rem-calc(10);
          position: relative;

          @media screen and (max-width: $mobile1) {
            margin-left: unset;
            justify-content: center;
            margin-bottom: rem-calc(80);
          }

          &::before {
            content: '';
            display: inline-block;
            background: rgba($white, .3);
            width: rem-calc(1);
            height: rem-calc(18);
            opacity: 1;
            position: absolute;
            left: rem-calc(-21);
            top: 50%;
            transform: translateY(-55%);
            display: none;
  
            @media screen and (max-width: $desktop-1366) {
              right: rem-calc(-10);
            }
  
            @media screen and (max-width: $desktop-1024) {
              right: rem-calc(-8);
            }
          }

          a {
            padding: 0;
            display: block;
            transform: translateY(rem-calc(-1));

            &::before {
              @extend .fab;
              font-size: rem-calc(16);
              font-weight: 400;
              border-radius: 100%;
              border: rem-calc(1) solid rgba($white, .4);
              width: rem-calc(28);
              height: rem-calc(28);
              display: flex;
              align-items: center;
              justify-content: center;
              //background: rgba($blacker, .2);
              color: rgba($white, .9);
              transition: .15s ease;
            }

            &:not(:last-of-type) {
              margin-right: rem-calc(10);
            }

            &.fb {
              &::before {
                content: fa-content($fa-var-facebook-f);
                opacity: .9;
                font-size: rem-calc(14);
              }
            }

            &.ig {
              &::before {
                content: fa-content($fa-var-instagram);
              }
            }

            @include hover {
              &::before {
                border: rem-calc(1) solid rgba($red, .4);
                color: rgba($red, .9);
              }
            }
          }
        }
      }
    }
  }
}



#header {
  width: 100%;
  display: flex;
  justify-content: center;
  transition: .1s ease;
  margin-top: $util-nav-height;

  @media screen and (max-width: $mobile1) {
    margin-top: 0;
  }

  .hfsw {
    height: $main-nav-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .1s ease;

    @media screen and (max-width: $mobile1) {
      height: $main-nav-height-mobile;
      justify-content: flex-start;
      align-items: center;
    }
  }

  .logo {
    width: rem-calc(390);
    //height: rem-calc(66);
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    transition: .1s;
    z-index: 3;
    transform: translateY(rem-calc(0));

    @media screen and (max-width: $desktop-1024) {
      width: rem-calc(200);
      height: rem-calc(39);
    }

    @media screen and (max-width: $mobile1) {
      transform: translateY(-50%);
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: auto;

      &.black {
        opacity: 0;
      }
    }
  }

  .mobile-number {
    @include font(14, 14, 400);
    color: $white;
    margin-left: rem-calc(24);
    display: block;
    transform: translateY(rem-calc(2));

    @media screen and (max-width: 400px) {
      display: none !important;
    }
  }

  // Desktop Menu
  .menu--main:not(.drilldown) {
    position: absolute;
    right: rem-calc(0);
    top: rem-calc(16);
    bottom: inherit;
    transition: top .2s ease;
    display: flex;
    align-items: center;

    @media screen and (max-width: $desktop-1024) {
      top: rem-calc(32);
    }

    @media screen and (max-width: $mobile1) {
      position: relative;
      right: inherit;
      bottom: inherit;
    }

    & > li {
      z-index: 2;

      &:nth-child(1) {
        & > a {
          @include hover {
            span {
              color: darken($blue, 5%);
            }
          }
        }
      }

      &:nth-child(2) {
        & > a {
          @include hover {
            span {
              color: darken($green, 10%);
            }
          }
        }
      }

      &:nth-child(3) {
        & > a {
          @include hover {
            span {
              color: $red;
            }
          }
        }
      }

      &:nth-child(4) {
        & > a {
          @include hover {
            span {
              color: lighten($black, 0%);
            }
          }
        }
      }

      & > a {
        background: transparent;
        text-transform: uppercase;
        transition: .15s ease;
        display: flex;
        align-items: center;
        font-size: rem-calc(17.5) !important;
        line-height: rem-calc(19) !important;
        font-weight: 900;
        padding: rem-calc(10 18);
        letter-spacing: rem-calc(0);
        text-decoration: none;

        @media screen and (max-width: $desktop-1366) {
          padding: rem-calc(10 13);
        }

        @media screen and (max-width: $desktop-1024) {
          font-size: rem-calc(14) !important;
          line-height: rem-calc(14) !important;
          padding: rem-calc(10 9);
        }

        @include hover {
          span {
            &::before {
              content: '';
              width: 100%;
              left: 0%;
              opacity: 0;
            }
          }
        }

        &>span {
          font-size: rem-calc(17.5) !important;
          line-height: rem-calc(19) !important;
          font-weight: 900;
          color: $gold;
          transition: .15s ease;
          position: relative;
          display: block;

          @media screen and (max-width: $desktop-1024) {
            font-size: rem-calc(14) !important;
            line-height: rem-calc(14) !important;
          }

          &>span {
            font-weight: 400;
          }

          &::before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            left: 0%;
            bottom: rem-calc(-7);
            height: rem-calc(2);
            background: $black;
            transform: translateZ(0);
            z-index: 10000;
            transition: .2s ease;
            opacity: 0;
          }
        }
      }

      &.current-page {
        & > a {
          span {
            color: $red;
            
            &::before {
              content: '';
              width: 100%;
              left: 0%;
              opacity: 0;
            }
          }
        }
      }

      &.is-active {
        a {
          span {
            //color: $green;
          }
        }
      }

      &.cta-button {
        margin-left: rem-calc(20);

        @media screen and (max-width: $desktop-1024) {
          margin-left: rem-calc(15);
        }

        a {
          @extend %cta;
          margin-top: 0;
          letter-spacing: 0;
          font-weight: 700;
          border-radius: rem-calc(30);
          transform: translateY(rem-calc(-2));
          text-shadow: none;

          @media screen and (max-width: $desktop-1024) {
            padding: rem-calc(11 20 6) !important;
          }
        }
      }

      // Dropdown Buttons
      &.is-dropdown-submenu-parent {
        & > a {
          span {
            position: relative;

            &::after {
              display: none;
            }
          }
        }

        & > a::after {
          display: none;
        }
      }

      //////////////////////////////////////////////////////////////////
      // Normal Non-Mega-menu Dropdown - Keep for Reference
      //////////////////////////////////////////////////////////////////

      .submenu {
        background: linear-gradient(150deg, rgba($white, 1), rgba($white, 1));
        border: 0;
        min-width: rem-calc(200);
        box-shadow: 1px 1px 5px rgba($black, .3);

        li {
          &:not(:last-child) {
            border-bottom: thin solid rgba($black, .4);
          }

          a {
            color: $black;
            background: rgba($dblue, 0);
            line-height: 1.3;
            padding: rem-calc(13 19 11);
            @include font(16, 21, 400, 0);
            font-size: rem-calc(17) !important;
            transition: .1s ease;
            
            @include hover {
              background: rgba($dblue, .1);
            }

            span {
              @include font(16, 21, 400, 0);
              font-size: rem-calc(17) !important;
              color: $black;
            }
          }

          &.external {
            a {
              display: flex;

              &::before {
                @extend .fas;
                content: fa-content($fa-var-external-link-alt);
                display: block;
                color: $black;
                order: 2;
                font-size: rem-calc(12);
                margin-left: rem-calc(7);
                opacity: .5;
                transform: translateY(rem-calc(-1));
              }

              span {
                order: 1;
              }
            }
          }
        }

        .is-active > a {
          background: lighten($blue, 65%);
        }
      }

      .opens-right,
      .opens-left {
        & > a {
          &::after {
            @extend .fas;
            color: $blue;
            margin-top: rem-calc(-10);
            border: 0;
          }
        }

        ul {
          margin: rem-calc(-1 0 0) !important;
        }
      }

      .opens-right {
        & > a {
          &::after {
            content: fa-content($fa-var-chevron-right);
            right: rem-calc(20);
          }
        }
      }

      .opens-left {
        & > a {
          &::after {
            content: fa-content($fa-var-chevron-left);
          }
        }
      }

      .tier3 {
        transform: translateY(rem-calc(-2));

        li {
          border-color: rgba($blue, .3) !important;

          a {
            background: lighten($dblue, 5%);

            @include hover {
              background: lighten($dblue, 8%);
            }
          }
        }
      }
    }
  }

  // Mobile Menu
  .menu.drilldown {
    .is-drilldown-submenu-parent>a::after,
    .js-drilldown-back>a::before {
      @extend .fas;
    }

    @media screen and (max-width: $mobile1) {
      li {
        &:not(:last-child) {
          border-bottom: 1px solid #ddd;
        }

        a {
          color: $black;
          padding: rem-calc(16);
          position: relative;
          font-family: $hfont;
          @include font(22, 22, 600, 0);

          span {
            font-family: $hfont;
            @include font(22, 22, 600, 0);
            display: block;
            transform: translateY(rem-calc(2));
          }

          &::after {
            margin-top: rem-calc(-9);
            display: block;
          }
        }

        ul {
          background: $green !important;
        }

        &.external {
          a {
            display: flex;

            &::before {
              content: '\f35d';
              font-family: "Font Awesome 5 Free";
              display: block;
              color: $green;
              order: 2;
              font-size: rem-calc(14);
              margin-left: rem-calc(7);
              transform: translateY(rem-calc(-1));
            }

            span {
              order: 1;
            }
          }
        }
      }

      .is-drilldown-submenu-parent {
        &>a {
          display: flex;
          align-items: center;

          &::after {
            border: none;
            content: fa-content($fa-var-chevron-right);
            right: rem-calc(35);
            font-size: rem-calc(20);
            color: $green;
          }
        }

        .indent {
          padding-left: rem-calc(20);
        }
      }

      .js-drilldown-back {
        a {
          display: flex;
          align-items: flex-start;

          &::before {
            border: none;
            content: fa-content($fa-var-chevron-left);
            margin-right: rem-calc(22);
            font-size: rem-calc(20);
            color: $green;
          }
        }
      }
    }
  }

  .hamburger-icon {
    display: block;
    transition: 0.5s ease-in-out;
    position: absolute;
    cursor: pointer;
    right: 0;

    &:focus {
      outline: medium none;
    }

    .lines {
      float: right;
      margin-left: 8px;
      width: 32px;

      .line {
        background: $black none repeat scroll 0 0;
        height: 4px;
        margin-bottom: 5px;
        transition: 0.5s ease 0s;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &[aria-expanded='true'] {
      .line:nth-child(1) {
        margin-bottom: 1px;
        transform: rotate(45deg) translate(5px, 5px);
        background: $black;
      }

      .line:nth-child(2) {
        opacity: 0;
      }

      .line:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
        background: $black;
      }
    }
  }
}

// Off-Canvas for mobile
.off-canvas-main-menu {
  top: $main-nav-height-mobile;
  right: 0;
  height: 100vh;
  overflow-y: auto;
  width: 100%;
  transform: translateX(100%);
  box-shadow: none !important;
  background: rgba($dark2, 1);
}

.js-off-canvas-overlay {
  background: rgba($black, 0);
  display: none;
}






/* Nav Indicator =========================================================== */

$naviopacity: .95;
$navi1-left: rem-calc(90); $navi1-width: rem-calc(51);
$navi2-left: rem-calc(277); $navi2-width: rem-calc(112);
$navi3-left: rem-calc(460); $navi3-width: rem-calc(49);
$navi4-left: rem-calc(618); $navi4-width: rem-calc(78);

.header-menu li.current-page:nth-child(1) ~ li.navindicator,
.header-menu .menu li:nth-child(1):hover ~ li.navindicator {
  left: $navi1-left;
  width: $navi1-width;
  opacity: $naviopacity;

  &--green,
  &--purple,
  &--red {
    opacity: 0;
  }
}

.header-menu li.current-page:nth-child(2) ~ li.navindicator,
.header-menu .menu li:nth-child(2):hover ~ li.navindicator {
  left: $navi2-left;
  width: $navi2-width;
  opacity: $naviopacity;

  &--blue,
  &--purple,
  &--red {
    opacity: 0;
  }
}

.header-menu li.current-page:nth-child(3) ~ li.navindicator,
.header-menu .menu li:nth-child(3):hover ~ li.navindicator {
  left: $navi3-left;
  width: $navi3-width;
  opacity: $naviopacity;

  &--blue,
  &--green,
  &--purple {
    opacity: 0;
  }
}

.header-menu li.current-page:nth-child(4) ~ li.navindicator,
.header-menu .menu li:nth-child(4):hover ~ li.navindicator {
  left: $navi4-left;
  width: $navi4-width;
  opacity: $naviopacity;

  &--blue,
  &--green,
  &--red {
    opacity: 0;
  }
}

.header-menu li.navindicator {
  display: block;
  width: rem-calc(32) !important;
  height: rem-calc(28);
  top: rem-calc(-20);
  padding: 0;
  z-index: 1 !important;
  opacity: 0;
  left: 40%;
  transition: .2s ease;
  position: absolute;
  background-position: center;
  background-size: cover;
  //display: none;
}





