.form {
  .form-input,
  .form-textarea {
    @include font(14, 16);
    color: $black;
  }

  .form-label {
    position: relative;
    margin-bottom: rem-calc(20);
    text-align: left;
  }

  .field-header {
    @include font(18, 18, 400);
    padding: rem-calc(4 0);
    color: $black;
    font-family: $rfont;

    .required {
      color: $red;
    }
  }

  // hide honeypot field
  .d7h4jf94h {
    display: none;
  }

  /* General Input Styling ======================================== */
  .form-input,
  select,
  input[type='text'],
  input[type='search'],
  input[type='phone'],
  input[type='number'],
  input[type='email'],
  input[type='url'],
  textarea {
    padding: rem-calc(13 10 11);
    border-radius: 0;
    border: rem-calc(1) solid #9f9f9f;
    @include font(18, 18);
    box-shadow: none;
    margin: 0;
    height: auto;
    line-height: 1;
    box-sizing: border-box;
    background: #f6f6f6;

    &:focus {
      border: rem-calc(1) solid $gold;
      box-shadow: none;
    }
  }

  textarea {
    min-height: rem-calc(140);
  }

  input[type=button] {
    border: none;
  }

  /* Select Menu ======================================== */
  .form-select-container {
    position: relative;
    z-index: 1;
    border-radius: 0;

    .form-select-wrapper {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #f6f6f6;
        display: block;
        top: 0;
        left: 0;
        z-index: -2;
      }
    }

    select {
      background: transparent !important;
      cursor: pointer;

      option {
        font-family: Arial, Helvetica, sans-serif;
        font-size: rem-calc(16.5);
      }
    }

    &::after {
      color: $primary-color2;
      @extend .fas;
      content: fa-content($fa-var-chevron-down);
      display: block;
      right: rem-calc(15);
      position: absolute;
      top: rem-calc(29);
      transition: .4s;
      transition-property: opacity, visibility;
      font-size: rem-calc(20);
      z-index: -1;
    }
  }

  /* Radio Buttons ======================================== */
  .form-radio-container {
    margin-bottom: rem-calc(13);
    text-align: left;
  }

  .form-radio {
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: 0;
    margin-right: rem-calc(17);
    margin-bottom: rem-calc(5);
  }

  .form-radio__icon {
    border: 1px solid $primary-color2;
    border-radius: 100%;
    display: block;
    flex-shrink: 0;
    height: rem-calc(20);
    margin-right: rem-calc(9);
    position: relative;
    transition: .4s;
    transition-property: border, background-color;
    width: rem-calc(20);

    &::after {
      background: $primary-color1;
      content: '';
      border-radius: 50%;
      display: block;
      height: rem-calc(12);
      left: rem-calc(3);
      opacity: 0;
      position: absolute;
      top: rem-calc(3);
      transition: .4s;
      transition-property: opacity, visibility;
      visibility: hidden;
      width: rem-calc(12);
    }
  }

  .form-radio__input {
    height: 0;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    width: 0;

    &:checked ~ .form-radio__icon {
      &::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  /* Checkboxes ======================================== */
  .form-checkbox-container {
    margin-bottom: rem-calc(13);
    text-align: left;
  }

  .form-checkbox {
    cursor: pointer;
    display: flex;
    padding: 0;
    margin-right: rem-calc(17);
    margin-bottom: rem-calc(10);
    line-height: 1.5;
  }

  .form-checkbox__text {
    a {
      font-weight: bold;
      color: $blue;
      position: relative;
      margin-left: rem-calc(10);

      &::before {
        content: ' - ';
        position: absolute;
        padding-right: rem-calc(20);
        left: rem-calc(-10);
      }
    }
  }

  .form-checkbox__icon {
    border: 1px solid $primary-color2;
    display: block;
    flex-shrink: 0;
    height: rem-calc(20);
    margin-right: rem-calc(9);
    position: relative;
    transition: .4s;
    transition-property: border, background-color;
    width: rem-calc(20);

    &::after {
      color: $primary-color1;
      @extend .fas;
      content: fa-content($fa-var-check);
      display: block;
      height: rem-calc(12);
      left: rem-calc(2);
      opacity: 0;
      position: absolute;
      top: rem-calc(-1);
      transition: .4s;
      transition-property: opacity, visibility;
      visibility: hidden;
      width: rem-calc(12);
      font-size: rem-calc(15);
    }
  }

  .form-checkbox__input {
    height: 0;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    width: 0;

    &:checked ~ .form-checkbox__icon {
      &::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .submit-row {
    display: flex;
    justify-content: flex-start;
  }

  /* Validate Styling ======================================== */
  .is-invalid-label {
    .field-header {
      color: $red;
    }

    .form-input {
      background: rgba($red, .1);
      border: rem-calc(1) solid $red;
    }
  }

  .form-error {
    @include font(16, 18, 400);
    color: $red;
    text-align: right;
    margin: rem-calc(2);
  }
}

.form-submission-success {
  padding: rem-calc(60 0);

  p {
    @include font(30, 36, 400);
    color: $primary-color2;
    text-align: center;
    margin-bottom: rem-calc(20);

    a {
      color: $gold !important;
      border-color: $gold !important;
    }
  }
}
