.simple {
  margin: rem-calc(90 0);

  @media screen and (max-width: $mobile1) {
    margin: rem-calc(60 0);
  }

  &--max-width {
    max-width: rem-calc(1000);
    margin: 0 auto;
  }

  &--center {
    text-align: center;
  }
}
